body {
    background: rgb(81, 25, 104);
    height: 100vh;
}
form {
    width: 300px;
}
input {
    border: none;
}
input,
button {
   padding: 10px;
   width: -webkit-fill-available;
}
button {
    margin-bottom: 10px;
}

.form-field {
    margin-bottom: 10px;
}